{% extends "base_generic.html" %}
<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% block content %}
    <head>
        <meta charset="utf-8">
        <title>File Upload</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if projects %}
            <ul>
                {% for project in projects %}
                    <li><a href="{{ project.source.url }}"> {{ project.name }} </a></li>
                    <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    <input type="hidden" name="deletethis" value={{ project.pk }} />
                    <input type="submit" value="Delete" />
                </form>

                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "projects" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.projectFile.label_tag }}</p>

            <p>
                {{ form.projectFile.errors }}
                {{ form.projectFile }}
            </p>
            <fieldset>
              name:
              {{ form.name }}
              {{ form.name.errors }}
            </fieldset>
            <fieldset>
              extension:
              {{ form.extension }}
              {{ form.extension.errors }}
            </fieldset>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
{% endblock %}